<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.recruit.repository.MemberRepository">
    <select id="selectMemberById" resultType="Member">
        SELECT `member_no`, `id`, `role`, `password` FROM `member`
        WHERE `id` = #{id} AND `member_status` = 'ALIVE'
    </select>

    <insert id="insertMember" parameterType="Member" useGeneratedKeys="true" keyProperty="memberNo">
        INSERT INTO `member` (`id`, `password`, `role`) VALUE (#{id}, #{password}, #{role})
    </insert>

</mapper>